### Grouping and Aggregating

In [2]:
import pandas as pd
df = pd.read_csv('../../data-2019/survey_results_public.csv')
schema_df = pd.read_csv('../../data-2019/survey_results_schema.csv')

In [3]:
df['ConvertedComp'].head(15)

0          NaN
1          NaN
2       8820.0
3      61000.0
4          NaN
5     366420.0
6          NaN
7          NaN
8      95179.0
9      13293.0
10         NaN
11         NaN
12     90000.0
13     57060.0
14         NaN
Name: ConvertedComp, dtype: float64

In [4]:
# get the median value for the Series
df['ConvertedComp'].median()

57287.0

In [5]:
df.median()

/var/folders/93/h12kgbnx5z3b92f_2l14r_yh0000gn/T/ipykernel_25228/530051474.py:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.median()

Respondent       44442.0
CompTotal        62000.0
ConvertedComp    57287.0
WorkWeekHrs         40.0
CodeRevHrs           4.0
Age                 29.0
dtype: float64

In [6]:
# to count the numbers without Nah values
df['ConvertedComp'].count()

55823

In [7]:
# for Hobbyist column, to check how many people answers 'yes' or 'no'
df['Hobbyist'].value_counts()

Yes    71257
No     17626
Name: Hobbyist, dtype: int64

In [9]:
df['SocialMedia'].value_counts()

Reddit                      14374
YouTube                     13830
WhatsApp                    13347
Facebook                    13178
Twitter                     11398
Instagram                    6261
I don't use social media     5554
LinkedIn                     4501
WeChat 微信                     667
Snapchat                      628
VK ВКонта́кте                 603
Weibo 新浪微博                     56
Youku Tudou 优酷                 21
Hello                          19
Name: SocialMedia, dtype: int64

In [10]:
# convert the raw numbers into percentage
df['SocialMedia'].value_counts(normalize=True)

Reddit                      0.170233
YouTube                     0.163791
WhatsApp                    0.158071
Facebook                    0.156069
Twitter                     0.134988
Instagram                   0.074150
I don't use social media    0.065777
LinkedIn                    0.053306
WeChat 微信                   0.007899
Snapchat                    0.007437
VK ВКонта́кте               0.007141
Weibo 新浪微博                  0.000663
Youku Tudou 优酷              0.000249
Hello                       0.000225
Name: SocialMedia, dtype: float64

Check the percentage of social media distribution among one country.

In [14]:
filt = df['Country'] == 'India'
df.loc[filt]['SocialMedia'].value_counts()

WhatsApp                    2990
YouTube                     1820
LinkedIn                     955
Facebook                     841
Instagram                    822
Twitter                      542
Reddit                       473
I don't use social media     250
Snapchat                      23
Hello                          5
WeChat 微信                      5
VK ВКонта́кте                  4
Youku Tudou 优酷                 2
Weibo 新浪微博                     1
Name: SocialMedia, dtype: int64

In [12]:
# a smart way
country_grp = df.groupby(['Country'])

In [15]:
country_grp['SocialMedia'].value_counts()

Country      SocialMedia
Afghanistan  Facebook                    15
             YouTube                      9
             I don't use social media     6
             WhatsApp                     4
             Instagram                    1
                                         ..
Zimbabwe     Facebook                     3
             YouTube                      3
             Instagram                    2
             LinkedIn                     2
             Reddit                       1
Name: SocialMedia, Length: 1220, dtype: int64

In [16]:
country_grp['SocialMedia'].value_counts().loc['India']

SocialMedia
WhatsApp                    2990
YouTube                     1820
LinkedIn                     955
Facebook                     841
Instagram                    822
Twitter                      542
Reddit                       473
I don't use social media     250
Snapchat                      23
Hello                          5
WeChat 微信                      5
VK ВКонта́кте                  4
Youku Tudou 优酷                 2
Weibo 新浪微博                     1
Name: SocialMedia, dtype: int64

To check the median income values for each country

In [19]:
country_grp['ConvertedComp'].median()

Country
Afghanistan                               6222.0
Albania                                  10818.0
Algeria                                   7878.0
Andorra                                 160931.0
Angola                                    7764.0
                                          ...
Venezuela, Bolivarian Republic of...      6384.0
Viet Nam                                 11892.0
Yemen                                    11940.0
Zambia                                    5040.0
Zimbabwe                                 19200.0
Name: ConvertedComp, Length: 179, dtype: float64

In [20]:
country_grp['ConvertedComp'].agg(['median', 'mean', 'max'])

                                        median           mean        max
Country
Afghanistan                             6222.0  101953.333333  1000000.0
Albania                                10818.0   21833.700000   187668.0
Algeria                                 7878.0   34924.047619  1000000.0
Andorra                               160931.0  160931.000000   171862.0
Angola                                  7764.0    7764.000000     7764.0
...                                        ...            ...        ...
Venezuela, Bolivarian Republic of...    6384.0   14581.627907   137484.0
Viet Nam                               11892.0   17233.436782   140000.0
Yemen                                  11940.0   16909.166667    60000.0
Zambia                                  5040.0   10075.375000    40524.0
Zimbabwe                               19200.0   34046.666667   180000.0

[179 rows x 3 columns]

Find out how many people using Python during their work

In [23]:
filt = df['Country'] == 'India'
df.loc[filt]['LanguageWorkedWith'].str.contains('Python').sum()

3105

In [24]:
country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

Country
Afghanistan                              8
Albania                                 23
Algeria                                 40
Andorra                                  0
Angola                                   2
                                        ..
Venezuela, Bolivarian Republic of...    28
Viet Nam                                78
Yemen                                    3
Zambia                                   4
Zimbabwe                                14
Name: LanguageWorkedWith, Length: 179, dtype: int64

Get the percentage of Python user for each country

In [60]:
country_grp['LanguageWorkedWith'].apply(lambda x: (x.str.contains('Python').sum())/x.size).loc['India']

0.3426774086745392

In [54]:
# 1st step, gain the total number who taken the survey in each country.
country_respondents = df['Country'].value_counts()

# 2nd step, gain the numbers who using Python among each country.
country_python = country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

# 3rd step, combine two values together.
python_df = pd.concat([country_respondents, country_python], axis='columns', sort=False)

In [55]:
python_df.head(5)

                Country  LanguageWorkedWith
United States     20949               10083
India              9061                3105
Germany            5866                2451
United Kingdom     5737                2384
Canada             3395                1558

In [56]:
# rename the columns' name
python_df.rename(columns={'Country': 'NumRespondents', 'LanguageWorkedWith': 'NumPython'}, inplace=True)

In [57]:
python_df.head(5)

                NumRespondents  NumPython
United States            20949      10083
India                     9061       3105
Germany                   5866       2451
United Kingdom            5737       2384
Canada                    3395       1558

In [58]:
python_df['pctPython'] = (python_df['NumPython']/python_df['NumRespondents']) * 100

In [59]:
python_df

                   NumRespondents  NumPython   pctPython
United States               20949      10083   48.131176
India                        9061       3105   34.267741
Germany                      5866       2451   41.783157
United Kingdom               5737       2384   41.554820
Canada                       3395       1558   45.891016
...                           ...        ...         ...
Tonga                           1          0    0.000000
Timor-Leste                     1          1  100.000000
North Korea                     1          0    0.000000
Brunei Darussalam               1          0    0.000000
Chad                            1          0    0.000000

[179 rows x 3 columns]

In [62]:
# sorting rows using percentage
python_df.sort_values(by='pctPython', ascending=False)

                                  NumRespondents  NumPython   pctPython
Sao Tome and Principe                          1          1  100.000000
Timor-Leste                                    1          1  100.000000
Dominica                                       1          1  100.000000
Niger                                          1          1  100.000000
Turkmenistan                                   7          6   85.714286
...                                          ...        ...         ...
Cape Verde                                     3          0    0.000000
Lao People's Democratic Republic               3          0    0.000000
Malawi                                         2          0    0.000000
Liberia                                        2          0    0.000000
Chad                                           1          0    0.000000

[179 rows x 3 columns]